body {
    max-height: 100vh;
}

.content {
    position:relative;
    text-align:center;
}
  
.flex {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

/* Text */

h1, h2, p {
    font-family: "Poppins", sans-serif;
    color: #000;
}

h1 {
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 0%;
}

h2{
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 50px;
}

p{
    font-weight: 300;
    font-size: 24px;
}

/* Buttons */

a {
    color: #FFF;
    text-decoration: none;
    border-radius: 50px;

    font-weight: 600;
    font-size: 36px;
}

a:hover{
    color: #FFF;
    text-decoration: none;
}

/* Header Section */
.header {
    margin-top: 100px;
}

.contact-button{
    padding: 15px 30px;
    float: right;
    background: #8EF6E4;
    box-shadow: 0px 4px 8px rgba(142, 246, 228, 0.3);
    position: relative;
    bottom: -5px;
}

.contact-button:hover {
    box-shadow: 0px 4px 8px rgba(142, 246, 228, 0.8);
}

.fa-envelope{
  color: #ffee7d;
  margin-top: 40px;
}

/* Projects Section */
.projects-container{
  padding-top: 150px;
}

.col-left{
  padding-right: 50px;
}

.col-right{
  padding-left: 50px;
}

.project-text{
  margin-bottom: 50px;
}

.carousel-number{
  margin-top: 50px;
}

/* Alchemy Game */
video{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.coursework-button{
  padding: 5px 30px;
  margin-right: 100px;
  float: right;
  background: #D59BF6;
  box-shadow: 0px 4px 8px rgba(213, 155, 246, 0.3);
}

.coursework-button:hover {
  box-shadow: 0px 4px 8px rgba(213, 155, 246, 0.8);
}

.code-button{
  background: #EDB1F1;
  padding: 5px 30px;
  float: right;
  box-shadow: 0px 4px 8px rgba(237, 177, 241, 0.3);
}

.code-button:hover {
  box-shadow: 0px 4px 8px rgba(237, 177, 241, 0.8);
}

/* Footer Section */
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.footer-div{
  height:15vh;
  background-color: #a2d5f2;
}

.footer-text{
    margin-top: 80px;
    color: #FFF;
}

.footer-logo{
    width: 40px;
    margin-bottom: 10px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.sun {
	width: 150px;
	height: 150px;
  text-align: center;
  float: right;
	background-color: #FFDE00;
	border-radius: 50%;
	box-shadow:
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	animation:
		sunrise 2s infinite linear forwards,
		rays 2s 2s infinite linear;
}

@keyframes sunrise {
	0% {
		box-shadow: none;
	}
}

@keyframes rays {
	0% {
		box-shadow: 
		0 0 0 0 #FFDE0080,
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 40px 100px #FFDE0010;
	}
	100% {
		box-shadow: 
		0 0 0 20px #FFDE0080,
		0 0 0 40px #FFDE0040,
		0 0 0 60px #FFDE0020,
		0 0 0 80px #FFDE0010,
		0 0 0 100px #FFDE0000,
		0 0 40px 100px #FFDE0010;
	}
}