@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

.contact h1{
    text-align: center;
    color: #E14141;
}

.row{
    max-width: 100%;
}

.col-12{
    margin: auto;
    max-width: 600px;
}

form{
    display: inline-block;
    border: 3px solid #3729D5;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
}

input[type=text], input[type=email], select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    background-color: #FAFAFA;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
  }

input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus{
border: 3px solid #E70000;
border-radius: 5px;
outline: none;
}
  
input[type=submit] {
    display: block;
    width: 30%;
    margin: auto;
    border: 3px solid #3729D5;
    border-radius: 10px;
    color: #E70000;
    background-color: #FFFFFF;
    padding: 5px 10px;
    font-family: 'Inter';
    font-weight: 400;
  }
  
input[type=submit]:hover {
    border: 3px solid #3729D5;
  }