a{
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    opacity: 1;
}

a:hover{
    color: #000;
}


.navbar {
    background: #FFF !important;
}

.ms-auto {
    margin-left: auto!important;
}

.navbar-light .navbar-brand{
    margin-left: 20px;
    font-size: 24px;
    padding-left: 20px;
    opacity: 1;
    color: #000;
}

.nav-item{
    margin-right: 20px;
    font-size: 24px;
    padding-right: 20px;
}

/* Hero */
.name-text-col{
    height: 20%;
    display: flex;
    justify-content: center;
}

#canvas3d{
    width: 90% !important;
    height: auto !important;
}

.view-work-col{
    text-align: center;
}

.btn-view-work{
    padding: 5px 30px;
    border: 2px solid #000;
    font-size: 36px;
    position: relative;
    bottom: 300px;
}

.projects-col{
    height: 200px;
    background: blue;
}

