@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

h3{
    font-family: 'Outfit';
    font-weight: 400;
    color: #000;
}

p{
    font-family: 'Outfit';
    font-weight: 400;
    color: #000;
}

header img{
    width: 50%;
}

.services .col-6{
    padding: 30px;
}