@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
   background-color: #E8E0D3;
}

h3{
    font-family: 'Outfit';
    font-weight: 400;
    color: #000;
    font-size: xx-large;
}

p{
    font-family: 'Outfit';
    font-weight: 300;
    color: #000;
    font-size: x-large;
}

header img{
    width: 50%;
}

.services{
    background-image: url("assets/decorations/Flower.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.process{
    background-image: url("assets/decorations/Flower2.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.services .col-6{
    padding: 30px;
}